name: build
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create venv
        run: python3 -m venv .venv

      - name: Activate venv and install dependencies
        run: |
          source .venv/bin/activate
          pip install --upgrade pip
          pip install uv
          uv sync --active

      - name: Prepare fonts
        run: |
          mkdir -p ${{ github.workspace }}/.cache/plugin/social/fonts
          cp ${{ github.workspace }}/fonts/Roboto.zip ${{ github.workspace }}/.cache/plugin/social/fonts/Roboto.zip
          unzip ${{ github.workspace }}/.cache/plugin/social/fonts/Roboto.zip -d ${{ github.workspace }}/.cache/plugin/social/fonts/Roboto
          rm ${{ github.workspace }}/.cache/plugin/social/fonts/Roboto/LICENSE.txt

      - name: Deploy with mkdocs
        run: |
          source .venv/bin/activate
          mkdocs gh-deploy --force --clean --verbose
